/* 
    Document   : devsite
    Created on : Jun 17, 2013, 9:33:18 PM
    Author     : chrisvogt
    Description:
        Purpose of the stylesheet follows.
*/

/*------------------------------------------------------------------
[ La typographie  ]
*/
body {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
.brand {
    font-family: 'Titillium Web', sans-serif;
}

/*------------------------------------------------------------------
[ Headers ]
*/
.masthead {
    padding: 24px 0 24px;
    margin-bottom: 21px;
    font-weight: 700;
    color: #fff;
    margin-top: -21px;
    position: relative;
    z-index: 1;
    background: rgb(255,255,255); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
}
.masthead:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/pattern/square_bg.png) repeat center center;
  opacity: 1;
}
.masthead h1 {
    color: #343434;
    text-shadow: 0px 1px 1px #555;
    font-weight: 300;
}
.masthead p {
    font-size: 2.1em;
    font-weight: 200;
    line-height: 1.25em;
    color: #989898;
}
.jumbotron {
    padding: 64px 0 82px;
    background: rgb(230,87,50); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2NTczMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMzJlMjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(230,87,50,1) 0%, rgba(211,46,40,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,87,50,1)), color-stop(100%,rgba(211,46,40,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(230,87,50,1) 0%,rgba(211,46,40,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(230,87,50,1) 0%,rgba(211,46,40,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(230,87,50,1) 0%,rgba(211,46,40,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(230,87,50,1) 0%,rgba(211,46,40,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e65732', endColorstr='#d32e28',GradientType=0 ); /* IE6-8 */
    text-align: center;
    margin-bottom: 0;
}
.jumbotron h1 {
    font-size: 4.2em;
    color: #fff;
}
.jumbotron p {
    color: #dedede;
}
.jumbotron .container {
    position: relative;
    z-index: 2;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

  .jumbotron:after {
    background-size: 150px 150px;
  }
  
}

/*------------------------------------------------------------------
[ Navigation ]
*/
.navbar .navbar-inner {
    border-radius: 0;
}

/*------------------------------------------------------------------
[ Social Pane ]
*/
.pane-social {
    padding: 14px 0;
    text-align: center;
    background-color: #fefefe;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

/*------------------------------------------------------------------
[ Boxes ]
*/
.box-small-link {
	border: 1px solid #ddd;
	margin-bottom: -1px;
  	padding: 30px 0px;
	font-size: 26px;
  	background-color: #fafafa;
  	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  	background-image: -o-linear-gradient(top, #fafafa, #efefef);
  	background-image: linear-gradient(to bottom, #fafafa, #efefef);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
        box-shadow: none;
  	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        border-radius: 2px;
	display:block;
	color: #646464;
	text-shadow: 0px 1px 1px #fff;
}

.box-small-link:hover {
	border: 1px solid #3c4049;
	margin-bottom: -1px;
  	padding: 30px 0px;
  	color: #fff;
  	background-color: #4e525d;
  	background-image: -moz-linear-gradient(top, #4e525d, #3c4049);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e525d), to(#3c4049));
  	background-image: -webkit-linear-gradient(top, #4e525d, #3c4049);
  	background-image: -o-linear-gradient(top, #4e525d, #3c4049);
  	background-image: linear-gradient(to bottom, #4e525d, #3c4049);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4e525d', endColorstr='#3c4049', GradientType=0);
	text-shadow: 0px 1px 1px #000;
	text-decoration: none;
}

.box-small-title {
	text-align: center;
	margin: 10px auto;
	font-size: 16px;
	color: #aaa;
	text-shadow: 0px 1px 1px #fff;
}



.box {
	margin: 20px 0px;
}


.box-header {
	height: 20px;
  	border: 1px solid #ddd;
	margin-bottom: -1px;
  	padding: 7px;
    background: rgb(69,72,77); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
        border-color: #989898;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff868d97',endColorstr='#ff6c737e',GradientType=0);
  	-webkit-box-shadow: none;
            -moz-box-shadow: none;
                box-shadow: none;
  	-webkit-border-radius: 2px 2px 0px 0px;
            -moz-border-radius: 2px 2px 0px 0px;
          	border-radius: 2px 2px 0px 0px;
	overflow: hidden;
}

.box-header h2{
	font-size: 16px;
	line-height: 16px;
	float:left;
	margin-top: 2px;
	color: #aeaeae;
	font-weight: 300;
}

.box-header h2 i{
	margin: 1px 3px 0px 5px;
	opacity: .5;
}

.box-header .break{
	border-left: 1px solid #555;
	border-right: 1px solid #333;
	margin: -12px 10px -10px 10px;
	padding: 12px 0px 10px 0px;
	
}

.box-header .box-icon {
	float:right;
	margin-top: 1px;
}

.box-header .box-icon i {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	opacity: .6;
}

.box-header .box-icon i:hover {
	opacity: .8;
}

.box-header .box-icon a {
	margin: 0px 5px;
        color: #cecece;
}

.box-content {
  	margin-top: -1px;
	padding: 10px;
  	border: 1px solid #ddd;
  	background: #fefefe;
  	-webkit-border-radius: 0px 0px 2px 2px;
	   -moz-border-radius: 0px 0px 2px 2px;
          	border-radius: 0px 0px 2px 2px;
}

/*------------------------------------------------------------------
[ Events Box ]
*/
ul.list-events {
    margin: 0;
}
.list-events li {
    list-style: none;
    padding: 6px 0;
    font-size: .875em;
    border-bottom: 1px solid #efefef;
}
.list-events li span {
    color: #aeaeae;
}

/*------------------------------------------------------------------
[ Overrides ]
*/
@media (max-width: 767px) {

body {
    padding: 0;
}

}